
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red:#B31312;
    --white:whitesmoke;
    --dark:#7D7463;
    --black: black;
}
.overall{
min-height: 100vh;
background-color: var(--black);
overflow: hidden;
}
.image{
    animation: i 2s ease-in-out; ;
}
@keyframes i {
    0%{
        transform: translateY(-100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }

}
.image img {
    
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}
.image h1{
    position: absolute;
    
    top: 45%;
    left: 42%;
    
    color: var(--white);
    font-family: serif;
    font-weight: bolder;
    
    
    
    
}

video{
    width: 60%;
    height: 30%;
    margin-left: 20%;
    margin-top: 100px;
    border: 5px solid var(--red);
    border-radius: 15px;
    
    animation: video 2s ease-in-out;
}

@keyframes video{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.box{
    background-color: var(--red);
    width: 75% ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    
    border-radius: 10px;
    margin-top: 20px;
    
}
.box img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(75deg, yellow, red);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid black !important;
}

.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px !important;
    display: inline-block;
    color: black!important;
}

.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: red !important;
}

#navbarNavDropdown{
    animation-name: shri;
    animation-duration: 1.2s;
}
@keyframes shri{
    from{
        transform: translateX(100%)
    }
    to{
        transform: translateY(0px)
    }
}

.box img:hover{
    transform: scale(1.1);
}
.overall div:nth-child(5){
    width: 100%;
    height: 25%;
    
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    
    border-radius: 10px;
    
}
section img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--black);
}
section img:hover{
    
    transform: scale(1.1);
    border: 10px solid var(--red);
    
}

section h1{
    width: 200px;
    display: none;
}
section h1:hover{
    display:block;
    color: var(--black);
    
 
}
div section:first-child{
    object-fit: cover;
    animation: first 2s ease-in-out; 
}
.overall div:nth-child(6){
    background-color: var(--red);
    width: 80%;
    
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    
    border-radius: 10px;
    margin-top: 20px;
}
.team div img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.team div p{
    
    color: var(--white);
    text-align: center;
    
}
.team div h1{
text-align: center;
}
.team div:last-child{
    width: 100%;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
@keyframes first{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
div section:nth-child(3){
    animation: last 2s ease-in-out; 
}
@keyframes last{
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
@keyframes img{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.box p{
    
    color: var(--white);
    
}
.box div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
@keyframes con{
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.camera{
    
    background-color: var(--red);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    
    border-radius: 10px;
    margin-top: 20px;
   
}
.camera img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.camera p{
    
    color: var(--white);
    
}
.camera div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
.drone{
    
    background-color: var(--red);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-top: 20px;
   
}
.drone img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.drone p{
    
    color: var(--white);
    
}
.drone div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: drone 2s ease-in-out;
}
@keyframes drone {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(9){
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.overall div:nth-child(9) div:first-child{
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    
    animation: a1 2s ease-in-out; ;
}
@keyframes a1 {
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(9) :first-child img{
    width: 80%;
    
}
.overall div:nth-child(9) :first-child h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :first-child p{
    
    text-align: center;
   
}

.overall div:nth-child(9) :first-child img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}


.overall div:nth-child(9) div:nth-child(2){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a3 2s ease-in-out; ;
}
@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(9) :nth-child(2) img{
    width: 80%;
   
}
.overall div:nth-child(9) :nth-child(2) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :nth-child(2) p{
   
    text-align: center;
    
}

.overall div:nth-child(9) :nth-child(2) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}

.overall div:nth-child(9) div:nth-child(3){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a2 2s ease-in-out; ;
}
@keyframes a2 {
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(9) :nth-child(3) img{
    width: 80%;
    
}
.overall div:nth-child(9) :nth-child(3) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :nth-child(3) p{
    
    text-align: center;
    
}

.overall div:nth-child(9) :nth-child(3) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.overall div:nth-child(10) div:first-child{
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a1 2s ease-in-out; ;
}
@keyframes a1 {
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(10) :first-child img{
    width: 80%;
    
}
.overall div:nth-child(10) :first-child h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :first-child p{
    
    text-align: center;
    
}

.overall div:nth-child(10) :first-child img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10) div:nth-child(2){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a3 2s ease-in-out; ;
}
@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(10) :nth-child(2) img{
    width: 80%;
    
}
.overall div:nth-child(10) :nth-child(2) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :nth-child(2) p{
    
    text-align: center;
    
}

.overall div:nth-child(10) :nth-child(2) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10) div:nth-child(3){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a2 2s ease-in-out; ;
}
@keyframes a2 {
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(10) :nth-child(3) img{
    width: 80%;
    
}
.overall div:nth-child(10) :nth-child(3) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :nth-child(3) p{
    
    text-align: center;
    
}

.overall div:nth-child(10) :nth-child(3) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(11){
 display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2%;
}
.overall div:nth-child(11) button{
  width: 15%;
  background-color: var(--red);
  color: var(--black);
  border: 3px solid var(--white);
  animation: a3 2s ease-in-out; ;
}

@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(12){
    color: var(--white);
    display: flex;
    justify-content: centerxd;
    align-items: center;
    gap: 10%;
    animation: con 2s ease-in-out;
}
@keyframes con{
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}

.overall div:nth-child(12) div:nth-child(1){
    width: 70%;
}

.overall div:nth-child(12) div:nth-child(1) h1{
    border-bottom: 3px solid var(--dark);
}
.overall div:nth-child(12) div:nth-child(1) span{
    color: var(--red);
}
.overall div:nth-child(12) div:nth-child(2){
    width: 40%;
}
.overall div:nth-child(12) div:nth-child(2) img{
 width: 60%
 
}
.footer_overall{
    background-color: rgb(15,15,15);
    border: 1px solid grey;
    width:100%;
    min-height:80vh;
    margin-top: 100px;   
}

.footer_container{
    width:100%;
    display: flex;
    justify-content:space-between;
    justify-content: space-evenly;
    padding:50px;   
}

.footer_container .left a{
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 17px;
    color:rgb(180, 171, 171);
}

.left a:hover{
    color:var(--red);
}

.footer_container .right a{
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(180, 171, 171);
}

.right a:hover{
    color:var(--red);
}

.footer_container .center{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center h5{
    color:rgb(180, 171, 171);
    margin:20px 0px;
}

.center .mail{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.mail input{
    padding:5px;
}

.mail input:focus{
    box-shadow: 0px 0px 3px #fe21a2,
    0px 0px 20px #fe21a2,
    0px 0px 70px #fe21a2;
}

.footer_container .center h1{
    color:#0cb37b;
    letter-spacing: 1px;
    font-family: 'Beau Rivage', cursive;
}

.bottom{
    padding:30px;
    width:100%;
    display: flex;
    border:1px solid grey;
    gap:30%;
    justify-content:center;  
}

.bottom .broken{
    color:gold;
}

.bottom span{
    color:rgb(180, 171, 171)
}

.fa-facebook,.fa-instagram,.fa-youtube,.fa-twitter{
    font-size: 25px;
    margin-right:10px;
    cursor: pointer;
}

.fa-facebook{
    color:blue;
}

.fa-instagram{
    color:#fe21a2;
}

.fa-youtube{
    color:red;
}

.fa-twitter{
    color:aqua;
}
@media screen and (min-width:300px) and (max-width:500px){
    .overall{
        /* min-height: 100vh; */
        /* background-color: var(--black); */
        width: 100%;
        
        }
    .image{
        width: 100%;
    }
    .image img{
        position: relative;
        width: 100%;
    }
    .image h1{
        position: absolute;
        top: 48%;
        left: 26%;
        
        
    }
    video{
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
    }
    .box{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .box img{
        width: 100%;
     }
     .box div:last-child{
        margin-top: 10px;
        width: 100%;
        
    }
    .overall div:nth-child(5){
        display: grid;
        grid-template-columns: auto;
    
    } 
    .overall div:nth-child(5) img{
        width: 100%;
        margin-bottom: 7%;
    }
    .overall div:nth-child(6){
        display: grid;
        grid-template-columns: auto;
        
        width: 100%;
        /* width: 200px; */

    }
    .camera{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .camera img{
        width: 100%;
     }
     .camera div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .drone{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .drone img{
        width: 100%;
     }
     .drone div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(9){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(9) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(10){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(10) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(11) button {
        width: 100%;
    }
    .overall div:nth-child(12){
        display: grid;
        grid-template-columns: auto;
    }
    .overall div:nth-child(12) div:nth-child(1){
        width: 100%;
    }
    .overall div:nth-child(12) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(12) div:nth-child(2) img{
        width: 100%;
    }
    .footer_overall .footer_container{

        flex-direction: column;
    }
    .center h1{
        margin-top: 20px;
    }

.bottom{
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}

}

@media screen and (min-width:500px) and (max-width:800px){
    .overall{
        /* min-height: 100vh; */
        /* background-color: var(--black); */
        width: 100%;
        }
    .image{
        width: 100%;
    }
    .image img{
        position: relative;
        width: 100%;
    }
    .image h1{
        position: absolute;
        top: 48%;
        left: 33%;
        
    }
    video{
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
    }
    .box{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .box img{
        width: 100%;
     }
     .box div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(5){
        display: grid;
        grid-template-columns: auto;
    
    } 
    .overall div:nth-child(5) img{
        width: 100%;
        margin-bottom: 3%;
    }
    .overall div:nth-child(6){
        display: grid;
        grid-template-columns: auto;
        
        width: 100%;
        /* width: 200px; */

    }
    .camera{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .camera img{
        width: 100%;
     }
     .camera div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .drone{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .drone img{
        width: 100%;
     }
     .drone div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(9){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(9) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(10){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(10) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(11) button {
        width: 50%;
    }
    .overall div:nth-child(12){
        display: grid;
        grid-template-columns: auto;
    }
    .overall div:nth-child(12) div:nth-child(1){
        width: 100%;
    }
    .overall div:nth-child(12) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(12) div:nth-child(2) img{
        width: 100%;
    }
    .footer_overall .footer_container{

        flex-direction: column;
    }
    .center h1{
        margin-top: 20px;
    }

.bottom{
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
}


}
