
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red:#B31312;
    --white:whitesmoke;
    --dark:#7D7463;
    --black: black;
}
.overall{
min-height: 100vh;
background-color: var(--black);
overflow: hidden;
}
/* .nav{
    position: fixed;
} */
.image img {
    /* background-image: url(./aboutimages/lens-490806_1280.webp); */
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
}
.image h1{
    position: absolute;
    /* width: 480px; */
    top: 45%;
    left: 42%;
    color: var(--white);
    font-family: serif;
    font-weight: bolder;
    
    
    /* animation: about 2s ease-in-out; */
    
}
/* .image span{
    color: #B31312;
} */
video{
    width: 60%;
    height: 30%;
    margin-left: 20%;
    margin-top: 100px;
    border: 5px solid var(--red);
    border-radius: 15px;
    /* padding: 10px 10px; */
    animation: video 2s ease-in-out;
}
/* @keyframes about{
    0%{
        transform: translatey(-100%);
        color: var(--red);
    }
    100%{
        transform: translatey(0%);
        color: var(--red);
    }
} */
@keyframes video{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.box{
    background-color: var(--red);
    width: 75% ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    border: 15px solid var(--dark);
    border-radius: 15px;
    margin-top: 20px;
    /* grid-template-columns: auto auto; */
}
.box img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    /* margin-left: 250px; */
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.box img:hover{
    transform: scale(1.1);
}
.overall div:nth-child(5){
    width: 100%;
    height: 25%;
    background-color: var(--red);
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    border: 15px solid var(--dark);
    border-radius: 15px;
    
}
section img{
    width: 300px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid var(--black);
}
section img:hover{
    
    transform: scale(1.1);
    
}

section h1{
    width: 200px;
    display: none;
}
section h1:hover{
    display:block;
    color: var(--black);
    /* transform: scale(1.1); */
 
}
div section:first-child{
    animation: first 2s ease-in-out; 
}
.overall div:nth-child(6){
    background-color: var(--red);
    width: 80%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    border: 15px solid var(--dark);
    border-radius: 15px;
    margin-top: 20px;
}
.team div img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* margin-left: 250px; */
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.team div p{
    /* width: 40%;
    height: 500px; */
    color: var(--white);
    text-align: center;
    
}
.team div h1{
text-align: center;
}
.team div:last-child{
    width: 100%;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
@keyframes first{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
div section:last-child{
    animation: last 2s ease-in-out; 
}
@keyframes last{
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
@keyframes img{
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.box p{
    /* width: 40%;
    height: 500px; */
    color: var(--white);
    
}
.box div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
@keyframes con{
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.camera{
    
    background-color: var(--red);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    border: 15px solid var(--dark);
    border-radius: 15px;
    margin-top: 20px;
    /* grid-template-columns: auto auto; */
}
.camera img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    /* margin-left: 250px; */
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.camera p{
    /* width: 40%;
    height: 500px; */
    color: var(--white);
    
}
.camera div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: con 2s ease-in-out;
}
.drone{
    
    background-color: var(--red);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
    padding: 30px 30px;
    margin: auto;
    border: 15px solid var(--dark);
    border-radius: 15px;
    margin-top: 20px;
    /* grid-template-columns: auto auto; */
}
.drone img{
    width: 350px;
    height: 500px;
    object-fit: cover;
    /* margin-left: 250px; */
    animation: img 2s ease-in-out;
    border-radius: 15px;
    border: 2px solid var(--black);
}
.drone p{
    /* width: 40%;
    height: 500px; */
    color: var(--white);
    
}
.drone div:last-child{
    margin-top: 25px;
    width: 350px;
    line-height: 30px;
    animation: drone 2s ease-in-out;
}
@keyframes drone {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(9){
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 2% 2%; */
}
.overall div:nth-child(9) div:first-child{
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    
    animation: a1 2s ease-in-out; ;
}
@keyframes a1 {
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(9) :first-child img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(9) :first-child h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :first-child p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(9) :first-child img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}


.overall div:nth-child(9) div:nth-child(2){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a3 2s ease-in-out; ;
}
@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(9) :nth-child(2) img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(9) :nth-child(2) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :nth-child(2) p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(9) :nth-child(2) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}

.overall div:nth-child(9) div:nth-child(3){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a2 2s ease-in-out; ;
}
@keyframes a2 {
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(9) :nth-child(3) img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(9) :nth-child(3) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(9) :nth-child(3) p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(9) :nth-child(3) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10){
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.overall div:nth-child(10) div:first-child{
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a1 2s ease-in-out; ;
}
@keyframes a1 {
    0%{
        transform: translateX(-100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(10) :first-child img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(10) :first-child h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :first-child p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(10) :first-child img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10) div:nth-child(2){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a3 2s ease-in-out; ;
}
@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}
.overall div:nth-child(10) :nth-child(2) img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(10) :nth-child(2) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :nth-child(2) p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(10) :nth-child(2) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(10) div:nth-child(3){
    width: 30%;
    background-color: var(--red);
    padding: 1%;
    text-align: center;
    border: 15px solid var(--dark);
    margin-top: 2%;
    margin-left: 2%;
    animation: a2 2s ease-in-out; ;
}
@keyframes a2 {
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(0%);
        
    }
}
.overall div:nth-child(10) :nth-child(3) img{
    width: 80%;
    /* object-fit: cover; */
}
.overall div:nth-child(10) :nth-child(3) h2{
    color: var(--white);
    margin-top: 1%;
}
.overall div:nth-child(10) :nth-child(3) p{
    /* width: 25%; */
    text-align: center;
    /* display: none; */
}

.overall div:nth-child(10) :nth-child(3) img:hover{
transform: scale(1.1);
box-shadow: 5px 5px 25px;
object-fit: cover;
}
.overall div:nth-child(11){
 display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2%;
}
.overall div:nth-child(11) button{
  width: 15%;
  background-color: var(--red);
  color: var(--black);
  border: 3px solid var(--white);
  animation: a3 2s ease-in-out; ;
}

@keyframes a3 {
    0%{
        transform: translateY(100%);
        
    }
    100%{
        transform: translateY(0%);
        
    }
}

@media screen and (min-width:300px) and (max-width:500px){
    .overall{
        /* min-height: 100vh; */
        /* background-color: var(--black); */
        width: 100%;
        
        }
    .image{
        width: 100%;
    }
    .image img{
        position: relative;
        width: 100%;
    }
    .image h1{
        position: absolute;
        top: 370px;
        left: 24%;
        
    }
    video{
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
    }
    .box{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .box img{
        width: 100%;
     }
     .box div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(5){
        display: grid;
        grid-template-columns: auto;
    
    } 
    .overall div:nth-child(5) img{
        width: 100%;
        margin-bottom: 7%;
    }
    .overall div:nth-child(6){
        display: grid;
        grid-template-columns: auto;
        
        width: 100%;
        /* width: 200px; */

    }
    .camera{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .camera img{
        width: 100%;
     }
     .camera div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .drone{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .drone img{
        width: 100%;
     }
     .drone div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(9){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(9) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(10){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(10) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(3) {
        width: 100%;
    }
}
@media screen and (min-width:500px) and (max-width:800px){
    .overall{
        /* min-height: 100vh; */
        /* background-color: var(--black); */
        width: 100%;
        }
    .image{
        width: 100%;
    }
    .image img{
        position: relative;
        width: 100%;
    }
    .image h1{
        position: absolute;
        /* top: 10px; */
        left: 20%;
        
    }
    video{
        width: 80%;
        margin-left: 10%;
        margin-top: 35px;
    }
    .box{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .box img{
        width: 100%;
     }
     .box div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(5){
        display: grid;
        grid-template-columns: auto;
    
    } 
    .overall div:nth-child(5) img{
        width: 100%;
        margin-bottom: 3%;
    }
    .overall div:nth-child(6){
        display: grid;
        grid-template-columns: auto;
        
        width: 100%;
        /* width: 200px; */

    }
    .camera{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .camera img{
        width: 100%;
     }
     .camera div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .drone{
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        /* width: 200px; */

    }
     .drone img{
        width: 100%;
     }
     .drone div:last-child{
        margin-top: 10px;
        width: 100%;
        /* line-height: 30px; */
        /* animation: con 2s ease-in-out; */
    }
    .overall div:nth-child(9){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(9) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(9) div:nth-child(3) {
        width: 100%;
    }
    .overall div:nth-child(10){
        display: grid;
        grid-template-columns: auto;
        /* width: 100%; */
    }
    .overall div:nth-child(10) div:first-child {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(2) {
        width: 100%;
    }
    .overall div:nth-child(10) div:nth-child(3) {
        width: 100%;
    }
}
