*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --red:#B31312;
    --white:whitesmoke;
    --dark:#7D7463;
    --black: black;
}
.overall{
min-height: 100vh;
}
/* .nav{
    position: fixed;
} */
.image img{
    width: 100%;
    min-height: 40%;
    object-fit: cover;
    position: relative;
}
.image h1{
    position: absolute;
    top: 65%;
    left: 42%;
    color: var(--dark);
    font-family: Arial, Helvetica, sans-serif;
    animation: about 2s ease-in-out;
}
@keyframes about{
    0%{
        transform: translatey(-100%);
        color: var(--red);
    }
    100%{
        transform: translatey(0%);
        color: var(--red);
    }
}
@media screen and (max-width:800px){
    .image img{
        position: relative;
    }
    .image h1{
        position: absolute;
        top: 28%;
        left: 27%;
    }
}