@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item a
{
  text-transform: uppercase;
}

.b-main-area
{
  padding: 10px;
  /* background-color: red; */
}



.b-image-area
{
  width: 100%;
  height: 100%;
  filter:blur(1px);
  position: relative;
}

.img-text
{
  position: absolute;
  top: 340px;
  left: 42%;
  color: white;
}

.area-2
{
  padding: 50px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  justify-items: center;
  gap: 55px;
}

.area-2 .box
{
  /* background-color: rebeccapurple; */
  border: 2px solid gold;
  padding: 13px 20px;
  width: 90%;
  transition: width 200ms;
  &:hover
  {
    width: 100%;
  }
}
.area-2:has(.box:hover) .box:not(:hover)
{
  opacity: 0.3;
  width: 85%;
}

.box img
{
  width: 100%;
}

.box h3
{
  display: block;
  width: 350px;
  padding: 20px 0px;
}

.n-p-area
{
  display: flex;
  justify-content: center;
}

.navbar
{
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
