@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-item a
{
  text-transform: uppercase;
}

.b-main-area
{
  padding: 10px 30px;
}



.b-image-area
{
  width: 100%;
  height: 100%;
  filter:blur(1px);
  position: relative;
}

.img-text
{
  position: absolute;
  top: 340px;
  left: 42%;
  color: white;
}

.area-2
{
  padding: 50px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  justify-items: center;
  gap: 40px;
}

.area-2 .box
{
  border: 2px solid gold;
  padding: 13px 20px;
  width: 90%;
  height: 270px;
  transition: width 200ms;
  &:hover
  {
    width: 110%;
    height: 550px;
  }
}

.area-2:has(.box:hover) .box:not(:hover)
{
  opacity: 0.3;
  width: 85%;
}

.box img
{
  width: 100%;
  height: 100%;
}

.box:hover img
{
  height: 70%;
}

.box-text-area
{
  width: 100%;
  padding: 20px 20px 15px 2px;
  display: none;
}

.box:hover .box-text-area
{
  display: unset;
}

.box-text-area h5
{
  padding-top: 20px;
}

.n-p-area
{
  display: flex;
  justify-content: center;
}

.navbar
{
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
