@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body a
{
  text-decoration: none;
}

.nav-item a
{
  text-transform: uppercase;
}

.navbar
{
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
.navbar{
  background-color: rgb(188, 12, 12);
  padding: 7px;
}
.nav-link{
  font-weight: bolder;
}
.nav-link:hover{
  color: white !important;
}
#navbarNavDropdown{
  animation-name: shri;
  animation-duration: 1.2s;
  /* transition: all 1s; */
}
@keyframes shri{
  from{
      transform: translateY(55%)
  }
  to{
      transform: translateY(0px)
  }
}

.navbar-brand img
{
  width: 150px;
  /* mix-blend-mode: multiply; */
  /* filter: contrast(1); */
}

.b-main-area
{
  padding: 10px 30px;
  overflow: hidden;
}

.area-1
{
  height: 100vh;
}

.b-image-area
{
  width: 100%;
  height: 100%;
  filter:blur(1px);
  position: relative;
  object-fit: fill;
}

.img-text
{
  position: absolute;
  top: 47%;
  left: 32%;
  color: white;
  text-transform: uppercase;
}

.img-text h1
{
   font-size: 100px;
}

.area-2
{
  padding: 50px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  justify-items: center;
  gap: 40px;
}

.area-2 .box
{
  border: 2px dotted gold;
  transition: all 500ms;
  width: 60vmin;
  height: 45vmin;
  position: relative;
  &:hover
  {
    width: 110%;
    height: 100%;
    border: 0px;
  }
}


.spin-container 
{
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate;
}
.shape 
{
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 23% 77% 33% 67% / 52% 28% 72% 48% ;
  animation: morph 8s ease-in-out infinite both alternate;
  overflow: hidden;
}

.bd
{
  width: 100%;
  height: 100%;
  animation: spin 12s ease-in-out infinite alternate-reverse;
}

@keyframes morph 
{
  0% 
  {
    border-radius: 56% 44% 40% 60% / 40% 79% 21% 60% ;
  } 
  100% 
  {
    border-radius: 37% 63% 70% 30% / 52% 28% 72% 48% ;
  } 
}

@keyframes spin
 {
  to 
  {
    transform: rotate(1turn);
  }
}

.area-2:has(.box:hover) .box:not(:hover)
{
  opacity: 0.3;
  width: 70%;
  filter: grayscale(100%);
}

.box:hover :is(.spin-container,.shape,.bd)
{
  animation-play-state: paused;
  animation: morph-hover 1s ease-in-out infinite;
}

.box:hover .shape
{
  border-radius: 0%;
}

@keyframes morph-hover 
{
  0% 
  {
    border-radius:0%;
  }  
}

/* .area-2 .box:first-child .spin-container,
.area-2 .box:first-child .bd */

.area-2 .box:first-child :is(.spin-container,.bd)
{
  animation-delay: 5s;
}

.area-2 .box:last-child .spin-container,
.area-2 .box:last-child .bd
{
  animation-delay: 3s;
}

.area-2 .box:nth-child(2) .spin-container,
.area-2 .box:nth-child(2) .bd
{
  animation-delay: 10s;
}

.area-2 .box:nth-child(3) .spin-container,
.area-2 .box:nth-child(3) .bd
{
  animation-delay: 2s;
}

.area-2 .box:nth-child(4) .spin-container,
.area-2 .box:nth-child(4) .bd
{
  animation-delay: 8s;
}

.area-2 .box:nth-child(5) .spin-container,
.area-2 .box:nth-child(5) .bd
{
  animation-delay: 2s;
}

.box-text-area
{
  display: none;
  padding: 1px 15px;
  position: absolute;
  top: 45%;
  left: 5%;
  right: 5%;
  background-color: #ffffffa8;
}

.box:hover .box-text-area
{
  display: unset;
  animation: box-text-hover  1s ease-in-out;
}

@keyframes box-text-hover 
{
  from
  {
    opacity: 0;
  }  
  to
  {
    opacity: 1;
  }
}


.box-text-area h5
{
  padding-top: 20px;
}

.n-p-area
{
  display: flex;
  justify-content: center;
}

.footer-area
{
  background: #343434;
  padding-top: 50px;
}

.f-area-1
{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content
{
  width: 33.3%;
}

.footer-content h3
{
  font-size: 28px;
  text-align: center;
}

.footer-content p
{
  padding: 7px;
  text-align: center;
}

.footer-content ul
{
  text-align: center;
}

.list
{
  padding: 0;
}

.list li
{
  text-align: center;
  list-style-type:none;
  padding: 7px;
  position: relative;
}

.list li::before
{
  content: '';
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 100%;
  width: 0;
  height: 2px;
  background: #f18930;
  transition-duration: .5s;
}

.list li:hover::before
{
  width: 70px;
}

.social-icons
{
  text-align: center;
  padding: 0;
}

.social-icons li
{
  display: inline-block;
  text-align: center;
  padding: 5px;
}

.social-icons i
{
  color: white;
  font-size: 25px;
}


.footer-area a:hover
{
  color: #f18930;
}

.social-icons i:hover
{
  color: #f18930;
}

.bottom-bar
{
  background: #f18930;
  text-align: center;
  padding: 10px 0;
}

.bottom-bar p
{
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}


@media only screen and (min-width:800px) and (max-width:999px)
{
  .img-text
  {
    top: 49%;
    left: 25%;
  }

  .img-text h1 
  {
    font-size: 99px;
  }

  .area-2
  {
    gap: 45px;
  }
  .area-2 .box
  {
    width: 70vmin;
    height: 50vmin;
  }
  
  .box-text-area
  {
    top: 52%;
  }

  .f-area-1
  {
    flex-direction: column;
    align-items: center;
  }

  .footer-content h3
  {
    font-size: 40px;
  }

  .footer-content :is(p,ul)
  {
    font-size: 25px;
  }
  
  .footer-content p span 
  {
    display: block;
  }

  .footer-content i 
  {
    font-size: 35px;
  }

}

@media only screen and (min-width:800px) and (max-width:815px)
{
  .box-text-area
  {
    top: 68%;
    left: 2%;
    width: 60%;
  }
}

@media only screen and (min-width:650px) and (max-width:800px)
{
  .img-text
  {
    top: 49%;
    left: 18%;
  }

  .img-text h1 
  {
    font-size: 95px;
  }

  .area-2 .box
  {
    width: 99vmin;
    height: 60vmin;
  }

  .box-text-area
  {
    width: 50%;
    top: 65%;
  }
}

@media only screen and (min-width:500px) and (max-width:650px)
{
  
  .img-text
  {
    top: 49%;
    left: 15%;
  }

  .img-text h1 
  {
    font-size: 75px;
  }

  .area-2 .box
  {
    width: 75vmin;
    height: 50vmin;
  }

  .box-text-area
  {
    width: 75%;
    top: 55%;
  }
}

@media only screen and (min-width:500px) and (max-width:800px)
{
  .f-area-1
  {
    flex-direction: column;
    align-items: center;
  }
  
 .footer-content h3
  {
    font-size: 40px;
  }

  .footer-content :is(p,ul)
  {
    font-size: 25px;
    text-align: center;
  }
  
  .footer-content p span 
  {
    display: block;
  }
 
  .footer-content i 
  {
    font-size: 50px;
    padding: 15px 10px;
  }  
}


@media only screen and (min-width:300px) and (max-width:500px)
{
  .img-text
  {
    top: 49%;
    left: 18%;
  }

  .img-text h1 
  {
    font-size: 65px;
  }

  .area-2
  {
    grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
  }

  .area-2 .box
  {
    width: 80vmin;
    height: 50vmin;
  }
  
  .box-text-area
  {
    width: 85%; 
    top: 45%;
  }

  .f-area-1
  {
    flex-direction: column;
    align-items: center;
  }
  
  .footer-content h3
  {
    font-size: 40px;
  }

  .footer-content :is(p,ul)
  {
    font-size: 25px;
    text-align: center;
  }

 .footer-content h3+p span
  {
    position: relative;
    right:25%;
  }
 
  .footer-content i 
  {
    font-size: 50px;
    padding: 15px;
  }  
}

@media only screen and (min-width:300px) and (max-width:400px)
{
  .box-text-area
  {
    width: 90%;
    top: 20%;
    left: 5%;
  }
  
 .footer-content h3+p span
 {
   position: relative;
   right:50%;
 }

}