@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(75deg, yellow, red);
}

.photoalbums article button {
    padding: 3px 10px;
    border: unset;
    background-color: rgb(0, 255, 247);
    border-radius: 7px;
    font-size: small;
}


.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px !important;
}

.navbar {
    border-bottom: 1px solid black !important;
}
.navbar{
    background-color: rgb(188, 12, 12);
    padding: 7px;
}
.nav-link{
    font-weight: bolder;
}
.nav-link:hover{
    color: white !important;
}
#navbarNavDropdown{
    animation-name: shri;
    animation-duration: 1.2s;
    /* transition: all 1s; */
}
@keyframes shri{
    from{
        transform: translateY(55%)
    }
    to{
        transform: translateY(0px)
    }
}

.carouselimg {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    background-color: black;
}

.services {
    min-height: 100vh;
    width: 100%;
    padding: 80px 150px;
    background: url(./Images/First\ background.jpg);
    background-position: center;
    object-fit: cover;
    color: white;
}

.services section {
    width: 375px;
}

.services .serviceheading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.serviceheading section:first-child h2:first-child {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.serviceheading section:first-child h2:first-child span {
    font-family: 'Beau Rivage', cursive;
    font-size: 48px;
}

.services section:last-child p:first-child {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.services p:first-child span {
    color: red;
}

.servicetypes {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px 0;
}

.servicetypes article {
    width: 220px;
    height: 250px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 20px 20px 20px 30px;
    border-left: 6px dotted black;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    cursor: pointer;
}

.servicetypes article section img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.aaaa {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.servicetypes article:hover .aaaa {
    transition: all 1s;
    transform: scale(0);
    width: 150px;
    height: 125px;
}

.albums {
    min-height: 90vh;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.albums p:first-child span {
    color: red;
}

.albums p:first-child~h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5rem;
}

.albums p:first-child~h2 span {
    font-family: 'Beau Rivage', cursive;
}

.photoalbums article p {
    margin: 0 !important;
    width: 450px;
}

.photoalbums article {
    height: 250px;
    width: 450px;
    padding: 20px;
    background-color: aqua;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: end;
    text-align: start;
}

.photoalbums article:hover {
    transition: all 0.5s;
    transform: scale(1.05);
}

.photoalbums {
    display: flex;
    overflow-x: scroll;
    gap: 20px;
    padding: 15px;
    margin: 10px;
}

.photoalbums::-webkit-scrollbar {
    height: 8px;
    cursor: pointer;
}

/* Track */
.photoalbums::-webkit-scrollbar-track {
    background: #F5F5F5;
    cursor: pointer;
}

/* Handle */
.photoalbums::-webkit-scrollbar-thumb {
    background: linear-gradient(75deg, red, yellow);

}

.photoalbums article button {
    padding: 3px 10px;
    border: unset;
    background-color: rgb(0, 255, 247);
    border-radius: 7px;
    font-size: small;
}


.photoalbums article:first-child {
    background: url(./Images/First\ background.jpg);
    background-position: center;
    background-size: cover;
}

.photoalbums article:nth-child(2) {
    background: url(./Images/Second\ background.jpg);
    background-position: center;
    background-size: cover;
}

.photoalbums article:nth-child(3) {
    background: url(./Images/Fourth\ background.jpg);
    background-position: center;
    background-size: cover;
}

.photoalbums article:nth-child(4) {
    background: url(./Images/Third\ background.jpg);
    background-position: center;
    background-size: cover;
}

.photoalbums article:last-child {
    background: url(./Images/portfolio.webp);
    background-position: center;
    background-size: cover;
}

.aboutagency {
    min-height: 100vh;
    padding: 30px 150px;
    margin-bottom: 50px;
}

.aboutagency p:first-child span {
    color: red;
}

.aboutagency section:nth-child(2) {
    display: flex;
    margin-bottom: 30px;
}

.aboutagency section:nth-child(2) div {
    width: 50%;
}

.aboutagency section:nth-child(2) div:first-child h2:first-child {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5rem;
}

.aboutagency section:nth-child(2) div:first-child h2:first-child span {
    font-family: 'Beau Rivage', cursive;
}

.aboutagency section:nth-child(2) div:last-child {
    display: flex;
    justify-content: end;
    align-items: start;
    padding: 10px;
}

.aboutagency section:nth-child(2) div:last-child button {
    padding: 8px 20px;
    background-color: red;
    color: white;
    border: unset;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.aboutagency section:nth-child(3) div:first-child img {
    width: 100%;

}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
}

.agency div {
    height: 300px;
}

.agency div:first-child img {
    height: 100%;
    border-radius: 10px;
}

.covered {
    height: 85vh;
    width: 100%;
    text-align: center;
    position: relative;
}

.coveredimg {
    height: 100%;
    width: 74%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    object-fit: cover;
}

.covereddetails {
    display: flex;
    gap: 20px;
    position: absolute;
    bottom: 10px;
    left: 175px;
}

.covereddetails nav {
    width: 200px;
    height: 100px;
    display: grid;
    place-content: center;
    border-radius: 8px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), 4px 4px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
}

.covereddetails nav h3:first-child {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    color: rgb(255, 0, 0);
    margin: 0;
}

.covereddetails nav p:nth-child(2) {
    font-weight: bold;
    font-style: italic;
    font-size: large;
    margin: 0;
}

.ourteam {
    padding: 30px 150px;
    margin: 30px 0;
}

.ourteam p:first-child span {
    color: red;
}

.ourteam section:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ourteam section:nth-child(2) article {
    width: 400px;
}

.ourteam section:nth-child(2) article:first-child h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.7rem;

}

.ourteam section:nth-child(2) article:first-child h2 span {
    font-family: 'Beau Rivage', cursive;
}

.ourteam section:nth-child(2) article:last-child p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

.members {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.team {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3), 4px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.team div:first-child {
    height: 65%;
    cursor: pointer;
    overflow: hidden;
}

.team div:first-child img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.team:hover div:first-child img {
    transition: all 1s;
    transform: scale(1.10);
}

.team .padd {
    padding: 15px;
}

.padd div:first-child h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2rem;
}

.padd div:first-child p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.membersicon {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.membersicon i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    color: var(--white);
    font-size: 20px;
    cursor: pointer;
}

.membersicon i:nth-child(2) {
    padding: 8px 12px;
}

.membersicon i:nth-child(3) {
    padding: 8px 6.5px;
}

.membersicon i:last-child {
    padding: 8px 9px;
}

.team:hover {
    box-shadow: 0px 0px 10px 1px rgba(255, 55, 55, 1),
        0px 25px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22),
        0px 15px 12px 0px rgba(0, 0, 0, 0.22);
}

.team:hover .membersicon i {
    transition: all 1s;
    background-color: rgb(255, 55, 55);
    color: white;
}

.membersicon i:hover {
    transform: scale(1.20);
}

.portfolio {
    text-align: center;
    margin: 10px;
}

.portfolio p:first-child span {
    color: red;
}

.portfolio p:first-child~h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5rem;
}

.portfolio p:first-child~h2 span {
    font-family: 'Beau Rivage', cursive;
}

.memories {
    display: flex;
    gap: 0 150px;
    justify-content: center;
    flex-wrap: wrap;
}

.memories section {
    width: 290px;
    margin: 20px 0;
}

.memories div article .bigimg {
    width: 100%;
    height: 475px;
    cursor: pointer;
    object-fit: cover;
}

.smallimg {
    height: 325px;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

.memories div section {
    text-align: left;
}

.memories div section h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
    color: rgb(61, 60, 60);
    margin: unset !important;
}

.memories button {
    width: 100%;
    padding: 10px;
    background-color: red;
    color: white;
    border: unset;
}

.reviews {
    margin: 70px 0;
    background: url(./Images/drone.jpeg);
    min-height: 90vh;
    object-fit: cover;
    background-position: center;
}

.review11 {
    width: 50%;
    background-color: transparent;
    position: relative;
    padding: 30px;
    backdrop-filter: blur(20px);
    top: 50px;
    left: 50px;
    border-radius: 5px;
}

.review11 p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}

.quotesicon {
    position: absolute;
    right: 30px;
    top: 15px;
}

.reviewstars {
    margin-bottom: 30px;
}

.review12 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.review12 img {
    height: 50px;
    width: 50px;
}

.review12 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
}

.footer_overall {
    background-color: rgb(15, 15, 15);
    border: 1px solid grey;
    width: 100%;
    min-height: 80vh;
    margin-top: 100px;

}

.containerfoot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.containerfoot .left a {
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(180, 171, 171);
}

.left a:hover {
    color: #fe21a2;
}

.left a:active {
    color: green;
}

.containerfoot .right a {
    text-align: center;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(180, 171, 171);
}

.right a:hover {
    color: #fe21a2;
}

.right a:active {
    color: green;
}

.containerfoot .center {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.center h5 {
    color: rgb(180, 171, 171);
    margin: 20px 0px;
}

.center .mail {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}

.mail input {
    padding: 5px;
}

.containerfoot .center h1 {
    color: #0cb37b;
    letter-spacing: 1px;
    font-family: 'Beau Rivage', cursive;

}

.bottom {
    padding: 30px;
    width: 100%;
    display: flex;
    border: 1px solid grey;
    gap: 30%;
    justify-content: center;
}

.bottom .broken {
    color: gold;
}

.bottom span {
    color: rgb(180, 171, 171)
}

.fa-facebook,
.fa-instagram,
.fa-youtube,
.fa-twitter {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: #fe21a2;
}

.fa-youtube {
    color: red;
}

.fa-twitter {
    color: aqua;
}




@media screen and (max-width:750px) {
    .memories {
        gap: 50px;
    }
}

@media screen and (max-width:850px) {
    .services {
        padding: 50px;
    }

    .ourteam {
        padding: 20px;
    }

    .footer_overall .containerfoot {

        flex-direction: column;
    }

    .center h1 {
        margin-top: 20px;
    }

    .bottom {
        flex-direction: column;
        row-gap: 25px;
        align-items: center;
    }

}


@media screen and (max-width:950px) {
    .aboutagency {
        padding: 20px;
    }

    .aboutagency section:nth-child(2) {
        flex-direction: column;
    }

    .aboutagency section:nth-child(2) div {
        width: 75%;
    }

    .covereddetails {
        display: none;
    }

    .reviews {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .review11 {
        width: 90%;
        position: unset;
    }
}