*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(75deg, yellow, red);
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid black !important;
}

.nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px !important;
    display: inline-block;
    color: black!important;
}

.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: red !important;
}

#navbarNavDropdown{
    animation-name: shri;
    animation-duration: 1.2s;
}
@keyframes shri{
    from{
        transform: translateX(100%)
    }
    to{
        transform: translateY(0px)
    }
}

.containerbody{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(215, 236, 236);
}
.containerbody1{
    width: 88%;
}
.backimg{
    width: 100%;
    min-height: 450px;
    background-image: url(./Images/First\ background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px,200px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}
.backimg h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 46px;
    color: white;
    font-family:monospace;
    font-weight: 800;
}
.containerbody2{
    width: 75%;
    margin-top: 80px;
    display: flex;
}
.carouselimg{
    height: 550px;
    width: 100%;
    object-fit: cover;
    background-color: black;
}
.carousel-item{
    height: 550px;
}
.carousel{
    height: 550px;
    box-shadow: 5px 0 8px black,0 -5px 8px black;
}
.photocon{
    width: 70%;
}
.review{
    width: 30%;
    padding-left: 30px;
}
.review-details{
    border: 1px solid black;
    box-shadow: 5px 0 8px black,0 5px 8px black;
}
.review-details h2{
    padding:8px;
    background-color: rgb(215, 5, 5);
    color: white;
    font-size: 30px;
    /* font-weight: 900; */
    text-align: center;
    margin-bottom: 0;
}
div[title="content"]{
    padding: 15px;
    background-color: rgb(88, 90, 90);
    color: white;
    position: relative;
}
div[title="content"] span{
    font-weight: bold;
}
.ratingstar i{
    padding: 7px;
}
.ratingstar{
    position: absolute;
    top: 81%;
    left: 90px;
}
div[title="camera"]{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    color: white;
    background-color: rgb(16, 17, 17);
}
div[title="camera"] div{
    padding: 5px;
    text-align: center;
}
div[title="camera"] h1{
    font-size: 26px;
    letter-spacing: 2px;
}
div[title="camera"] span{
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.photocontent h1{
    margin: 15px;
}
.projectcontent i{
    padding: 10px;
}
.projectcontent{
    padding: 0px 10px 15px 60px;
}
.projectcontent p{
    margin-top: 15px;
}
p{
    font-size: 18px;
    text-align: justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
div[title="photos"]{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 30px
}
div[title="photos"] img{
    width: 48.5%;
    margin-top: 25px;
    box-shadow: 5px 0 8px black,0 5px 8px black;
}
div[title="review"]{
    padding: 40px 40px 0px;
    position: relative;
    background-color: rgb(255, 219, 16);
}
.icon{
    position: absolute;
    right: 40px;
    top: 10px;
}
.review-stars i{
    padding: 5px;
}
div[title="review"] p{
    margin-top: 20px;
    color: white;
    padding: 0 15px;
}
div[title="review"] div[title="review1"]{
    border-bottom: 1.5px solid white;
}
.nextnav{
    padding: 25px 25px 10px;
    background-color: rgb(26, 25, 25);
}
div[title="review2"] img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}
div[title="review2"]{
    display: flex;
    padding: 15px;
    color: white;
}
footer{
    background-color: rgb(28, 29, 29);
    color: white;
    display: flex;
    justify-content: space-evenly;
}
footer span{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 20px;
    letter-spacing: 2px;
}
footer div{
    padding: 20px;
    text-align: center;
}
.signup{
    width: 80%;
    border: 1px solid white;
    display: flex;
    margin: 20px 30px;
    padding: 0;
    
}
.signup input{
    width: 70%;
    padding: 10px;
    background-color: transparent;
    color: white;
}
.signup input:focus{
    outline: none;
}
.signup button{
    width: 30%;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
}
.icons{
    margin: 25px 40px;
}
.icons i{
    padding: 15px;
}
